html, body {
  background-color: #FFFFFF;
  color: #222;
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

#wrapper-outer {
  min-height: 100%;
}

#wrapper-inner {
  overflow: auto;
  padding-bottom: 100px;
}

footer {
  background-color: #F8F9FA;
  position: relative;
  height: 100px;
  margin-top: -100px;
  clear: both;
}

footer p {
  padding: 20px;
}

.login-form {
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
}

/** SPINNER CREATION **/

.loader {
  position: relative;
  text-align: center;
  margin: 15px auto 35px auto;
  z-index: 9999;
  display: block;
  width: 80px;
  height: 80px;
  border: 10px solid rgba(0, 0, 0, .3);
  border-radius: 50%;
  border-top-color: #000;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
