{% extends "_subbase.html" %}
{% import "_errors.html" as errors %}

{% set home_class = 'active' %}

{% block base_content %}

<div id="main-wrapper">

  <header class="pageheader">
    <div class="container">
      <h1>{{ config.SITE_NAME }}</h1>
    </div>
  </header>

  <div class="container">
    <nav class="navbar navbar-expand-sm">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="navbar-brand fas fa-home" href="{{ url_for('ui.index') }}"></a>
        </li>
      </ul>

      {% if current_user.is_active %}
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/admin/">Maintenance</a>
              </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ current_user.full_name }}</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{ url_for('security_ui.logout') }}">Log Out</a>
            </div>
          </li>
        </ul>    
      {% endif %}
    </nav>
  </div>

  <div class="container">
      {{ errors.render() }}
      {% block errors %}{% endblock %}
  </div>
        
  <div id="content" class="container">
    {% block content %}{% endblock %}
  </div>

  <footer>
    <div class="container">
        Copyright &copy; {{ current_year }} NIHR Leicester Biomedical Research Centre
    </div>
  </footer>

</div>
{% endblock %}
