{% extends "_subbase.html" %}

{% set home_class = 'active' %}


{% block base_content %}

<div id="wrapper-outer">
  <div id="wrapper-inner">

    <header class="pageheader">
      <div class="container">
        <h1>{{ config.SITE_NAME }}</h1>
      </div>
    </header>

    <div class="container">
      <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <ul class="navbar-nav">

          <li class="nav-item">
            <a class="nav-link {{home_class}}" href="{{ url_for('ui.index') }}">Home</a>
          </li>

        </ul>
      </nav>
    </div>

    <div class="container">
      {% with messages = get_flashed_messages(with_categories=true) %}
          {% for category, message in messages %}
  
            {% set class="alert-info" %}
            {% set fas_class="fa-comment" %}
  
            {% if category == "warning" %}
              {% set class="alert-warning" %}
              {% set fas_class="fa-exclamation" %}
            {% elif category == "error" %}
              {% set class="alert-danger" %}
              {% set fas_class="fa-exclamation" %}
            {% elif category == "success" %}
              {% set class="alert-success" %}
              {% set fas_class="fa-check" %}
            {% endif %}
  
  
              <div class="justify-content-center">
                <div class="alert {{class}}" role="alert">
                    <i class="fas {{fas_class}}"></i>
                    <span class="sr-only">{{category}}:</span>
                    {{message}}
                </div>
            </div>

          {% endfor %}
        {% endwith %}
  
        {% block errors %}{% endblock %}
    </div>
          
    <div id="content" class="container">
      {% block content %}{% endblock %}
    </div>

  </div>
</div>

<div class="container">
  <footer>
    <p>
      Copyright &copy; {{ current_year }} Richard Bramley
    </p>
  </footer>
</div>
{% endblock %}
