{% macro render() %}

<div class="errors">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}

        {% set class="alert-info" %}
        {% set fas_class="fa-comment" %}

        {% if category == "warning" %}
        {% set class="alert-warning" %}
        {% set fas_class="fa-exclamation" %}
        {% elif category == "error" %}
        {% set class="alert-danger" %}
        {% set fas_class="fa-exclamation" %}
        {% elif category == "success" %}
        {% set class="alert-success" %}
        {% set fas_class="fa-check" %}
        {% endif %}


        <div class="row  justify-content-center">
            <div class="alert {{class}}" role="alert">
                <i class="fas {{fas_class}}"></i>
                <span class="sr-only">{{category}}:</span>
                {{message}}
            </div>
        </div>
    {% endfor %}
    {% endwith %}

    {% block errors %}{% endblock %}
</div>  
{% endmacro %}
